// 变量
:root {
    --home-page-width: 1280px;
}

// 字体
@font-face {
    font-family: zhimangxing;
    src: url(https://cdn.yangzupan.com/fonts/zhimangxing/zhimangxing-Regular.woff);
}

// 头部
// logo
.vp-nav-logo {
    transform: scale(1.1);
    // opacity: 0.9;
}

// 导航
.vp-navbar {
    box-shadow: none;
    border-bottom: 1px solid var(--border-color);
    transition: transform ease-in-out 0.3s, background var(--color-transition), border-bottom var(--color-transition);
}

.vp-navbar .vp-nav-links {
    font-size: 0.875rem;
}


// 菜单
.dropdown-wrapper .nav-dropdown {
    box-shadow: none;
}

// 搜索框

.search-pro-modal-wrapper {
    overflow: clip !important;
}


.search-pro-placeholder,
.search-pro-key-hints {
    display: none;
}

.search-pro-button,
.search-pro-modal {
    border: 1px solid var(--border-color) !important;
    transition: transform ease-in-out 0.3s, background var(--color-transition), border var(--color-transition) !important;
}

.search-pro-button {
    height: 1.5rem !important;
    border-radius: 9999px !important;
    border: 1px solid transparent !important;
    padding: 0.2rem !important;
}

.search-pro-button:hover {
    color: var(--theme-color);
    border: 1px solid var(--theme-color) !important;

}

.search-pro-result-wrapper.loading,
.search-pro-result-wrapper.empty {
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.search-pro-input {
    border-radius: 9999px !important;
    font-size: 1rem !important;
    line-height: 1.75 !important;
}

.search-pro-hints {
    margin-top: 0 !important;
    box-shadow: none !important;
}

.search-pro-hint kbd {
    box-shadow: none !important;
    border: 1px solid var(--border-color) !important;
}

// 导航功能下拉菜单
.outlook-dropdown {
    box-shadow: none;
    border: 1px solid var(--border-color);
    transition: transform ease-in-out 0.3s, background var(--color-transition), border var(--color-transition);
}

.outlook-dropdown>*:not(:last-child) {
    transition: transform ease-in-out 0.3s, border-bottom var(--color-transition);
}

// 主体

// 首页
.vp-hero-info-wrapper {
    height: 70vh;
}

.vp-hero-info {
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

// 头像
.vp-hero-info .vp-hero-image {
    max-height: 8rem;
    border-radius: 50%;
    border: 3px solid var(--border-color);
}

// 名字
.vp-hero-infos #main-title {
    font-family: 'zhimangxing';
    font-weight: 500;
    font-size: 3rem;
}

// 描述
.vp-hero-infos #main-description {
    max-width: 45rem;
    font-size: 1.125rem;
    line-height: 1.75;
}



// 特征
.vp-features:first-child {
    border-top: none;
}

.vp-feature-item {
    flex-basis: 100%;
}

.vp-feature-item {
    border: 1px solid var(--border-color);
    transition: transform ease-in-out 0.3s, background var(--color-transition), border var(--color-transition);
}

.vp-feature-item:hover,
.vp-article-item:hover {
    box-shadow: none;
    transform: none;
    border: 1px solid var(--theme-color);
    transition: border-color var(--color-transition);
}

// 目录页

.vp-child-catalog {
    list-style-type: none;
    margin-inline-start: 0.5rem;
}

.vp-sub-catalogs-wrapper {
    margin-inline-start: 0.5rem;
}

// 内容页
// a链接hover效果
.theme-hope-content a:hover {
    text-underline-offset: 6px;
}

// 卡片组件
.vp-card-container {
    place-content: stretch space-between;
}

.vp-project-home .vp-card-container {
    place-content: stretch center;
}

.vp-card-container .vp-card {
    flex-basis: 100%;
}

.vp-card {
    box-shadow: none;
    border: 1px solid var(--border-color);
    transition: transform ease-in-out 0.3s, background var(--color-transition), border var(--color-transition);
}

.vp-card:hover {
    border: 1px solid var(--theme-color);
    background: var(--bg-color-secondary);
}

.vp-card hr {
    margin: 0;
    border-top: 0;
}

// 上下页
.vp-page-nav {
    max-width: var(--content-width, 740px);
    margin: 0 auto;
}

// 侧边栏
.vp-sidebar {
    box-shadow: none;
    transition: transform ease-in-out 0.3s, background var(--color-transition), border-right var(--color-transition);
}

// 侧边栏图标于标题之间的间距
.vp-sidebar .icon {
    margin-inline-end: 0.5em;
}

// 页脚
// 页脚版权信息
.vp-footer-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.vp-footer,
.vp-footer .record,
.vp-footer .record .number {
    display: flex;
    gap: 0.2rem;
}

.vp-footer {
    margin: 0.6rem 0;
    flex-direction: column-reverse;
    font-size: 0.875rem;
}

.vp-footer .record,
.vp-footer .record .number {
    flex-direction: column;
}

.vp-footer .record img {
    width: 1rem;
    margin-bottom: -3px;
    margin-right: 0.2rem;
}

// 返回顶部按钮
.vp-back-to-top-button {
    box-shadow: none;
    bottom: 2rem;
}

// 404 页面
.not-found-hint .error-hint {
    font-size: 1rem;
}

.vp-page.not-found .action-button {
    padding: 0.5rem 1rem;
}


// 响应式
@media (min-width: 419px) {
    .vp-feature-item {
        flex-basis: 100%;
    }
}

@media (min-width: 719px) {

    // logo
    .vp-nav-logo {
        transform: scale(1.2);
    }

    // 首页
    // 头像
    .vp-hero-info .vp-hero-image {
        max-height: 9rem;
    }

    // 名字
    .vp-hero-infos #main-title {
        font-size: 3.5rem;
    }

    // 描述
    .vp-hero-infos #main-description {
        font-size: 1.3rem;
    }

    // 特征
    // 卡片组件
    .vp-feature-item,
    .sidebar-collapsed .vp-card-container .vp-card,
    .vp-project-home .vp-card-container .vp-card {
        flex: 1 1 calc(49% - 3rem);
    }

    // 页脚
    .vp-footer,
    .vp-footer .record,
    .vp-footer .record .number {
        gap: 0.3rem;
    }

    .sidebar-collapsed .vp-footer {
        flex-direction: column;
    }

    .sidebar-collapsed .vp-footer .record .number {
        flex-direction: row;
    }
}

@media (min-width: 959px) {

    // 首页
    // 头像
    .vp-hero-info .vp-hero-image {
        max-height: 10rem;
    }

    // 名字
    .vp-hero-infos #main-title {
        font-size: 4rem;
    }

    // 描述
    .vp-hero-infos #main-description {
        font-size: 1.5rem;
    }



    // 卡片组件
    .vp-card-container .vp-card {
        flex: 1 1 calc(49% - 3rem);
    }

    // 特性 卡片
    .vp-feature-item,
    .sidebar-collapsed .vp-card-container .vp-card,
    .vp-project-home .vp-card-container .vp-card {
        flex: 1 1 calc(33% - 3rem);
    }

    // 页脚
    .vp-footer,
    .vp-footer .record {
        flex-direction: column;
    }

    .vp-footer .record .number {
        flex-direction: row;
        gap: 0.5rem;
    }

    // 404 页面
    .not-found-hint .error-hint {
        font-size: 1.2rem;
    }
}

@media (min-width: 1440px) {

    // 首页
    // 卡片组件
    .vp-card-container .vp-card {
        flex: 1 1 calc(33% - 3rem);
    }

    .vp-feature-item,
    .vp-project-home .vp-card-container .vp-card {
        flex: 1 1 calc(24% - 3rem);
    }

    // 侧边栏
    .vp-sidebar {
        box-shadow: none;
        border-right: none;
        transition: transform ease-in-out 0.3s, background var(--color-transition), border-right var(--color-transition);
    }

    // 页脚
    .vp-footer,
    .vp-footer .record,
    .vp-footer .record .number {
        flex-direction: row;
        gap: 0.7rem;
    }

    .vp-footer {
        font-size: 0.9rem;
    }

}

// 滚动条
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}